<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h2>test</h2>
    <div class="table" id="mytable">
    </div>

    <script type="text/template" id="viewCustomers">
        <h3>Customers list</h3>
        <table>
            <thead>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Company</th>
                <th>Mobile Phone</th>
                <th>Work Phone</th>
                <th>Skype</th>
            </thead>
            <tbody class="customersList"></tbody>
        </table>
    </script>
    
    <script type="text/template" id="viewCustomer">
        <td>
            <%- _id %>
        </td>
        <td class="first">
            <%- name.first %>
        </td>
        <td class="last">
            <%- name.last %>
        </td>
        <td class="date">
            <%- dateOfBirth %>
        </td>
        <td class="company">
            <%- companyName %>
        </td>
        <td class="mobile">
            <%- phone.mobile %>
        </td>
        <td class="work">
            <%- phone.work %>
        </td>
        <td class="skype">
            <%- skype %>
        </td>
    </script>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="collections/customers.js"></script>
    <script type="text/javascript" src="models/customer.js"></script>
    <script type="text/javascript" src="views/table.js"></script>

    <script type="text/javascript" src="app.js"></script>
</body>
</html>